header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: 5px solid black;
  border-radius: 5px;
  padding: 5%;
  margin: 10px auto;
  max-width: 500px;
}
