/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

/* Header Styles */
header {
  height: 50px;
}

/* Dark Mode */
.dark {
  background-color: #243447;
  color: #bebebe;
}

.dark li a {
  color: #bebebe;
}

.dark li a:hover {
  background-color: #111;
}

.dark .card {
  border: 5px solid #f0ead6;
}

/* Light Mode */
.light {
  background-color: #f0ead6;
  color: black;
}

.light li a {
  color: black;
}

.light li a:hover {
  background-color: rgb(29, 128, 210);
}

.light .card {
  border: 5px solid black;
}
